@model IEnumerable<UserApplication.fonts.SubjectInCourse>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Student Details", "StudentHomePage1", "Student", new { id = Model.CourseId }, new { @class = "navbar-brand" })
            @Html.ActionLink("Teacher List", "TeachersList", "Student", new { id = Model.CourseId }, new { @class = "navbar-brand" })

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right">
                @Html.ActionLink("LogOut", "LogOut", "User", new { area = "" }, new { @class = "navbar-brand" })
            </ul>
        </div>
    </div>
</div>


@{
    ViewBag.Title = "SubjectsInCourse";
    Layout = "~/Views/Shared/_LogOutPage.cshtml";
}

<h2>SubjectsInCourse</h2>

<p>
    @Html.ActionLink(" ", " ")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.SubjectInCourseId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.SubjectInCourseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.SubjectInCourseId })*@
            </td>
        </tr>
    }

</table>
