@model IEnumerable<UserApplication.Models.Subject>

@{
    ViewBag.Title = "SubjectList";
}
@*  *@
<h2>SubjectList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.SubjectId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SubjectId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SubjectId })*@

                @Html.ActionLink(" Course and Subject List", "CourseAndSubjectList")

            </td>
        </tr>
    }

</table>
<p>
    @Html.Partial("_AssignSubjectForCourseButtonPartial")
    @Html.Partial("_BackToListButtonPartial")
    @Html.Partial("_AddSubjectButtonPartial")
</p>
