@model IEnumerable<UserApplication.Models.Subject>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("User List", "GetAllUsers", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Create New USer", "CreateUser", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })

            @Html.ActionLink("Add Course", "CreateCourse", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Assign Subject To Teacher", "AssignSubjectToTeacher", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right">
                @Html.ActionLink("LogOut", "LogOut", "User", new { area = "" }, new { @class = "navbar-brand" })
            </ul>
        </div>
    </div>
</div>
@{
    ViewBag.Title = "SubjectList";
    Layout = "~/Views/Shared/_LogOutPage.cshtml";

}

<h2>SubjectList</h2>

<p>
    @Html.ActionLink(" ", " ")
</p>
<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.SubjectId }) |
        @Html.ActionLink("Details", "Details", new { id = item.SubjectId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SubjectId })*@


            </td>
        </tr>
    }

</table>
<p>

    <input type="button" class="btn btn-primary btn-sm" '
           value="List of Course And Subject"
           onclick="window.location.href='@Url.Action("CourseAndSubjectList","SuperAdmin")'" />


    <input type="button" class="btn btn-primary btn-sm" '
           value="Assign Subject For Course"
           onclick="window.location.href='@Url.Action("AssignSubjectForCourse","SuperAdmin")'" />

    <input type="button" class="btn btn-primary btn-sm" '
           value="Back To List"
           onclick="window.location.href='@Url.Action("GetAllUsers","SuperAdmin")'" />

    <input type="button" class="btn btn-primary btn-sm" '
           value="Add Subject"
           onclick="window.location.href='@Url.Action("CreateSubject","SuperAdmin")'" />

</p>
