@model IEnumerable<UserApplication.Models.TeacherInSubject>

@{
    ViewBag.Title = "TeacherAndSubjectList";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h2>Teacher And SubjectList</h2>

<p>
    @Html.ActionLink(" ", " ")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.TeacherInSubjectId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TeacherInSubjectId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeacherInSubjectId })*@
            </td>
        </tr>
    }

</table>

<p>
    <input type="button" class="btn btn-primary btn-sm" '
           value="Back To List"
           onclick="window.location.href='@Url.Action("GetAllUsers","SuperAdmin")'" />
</p>

