@model IEnumerable<UserApplication.Models.Course>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("User List", "GetAllUsers", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Create New User", "CreateUser", "Admin", new { area = "" }, new { @class = "navbar-brand" })

            @Html.ActionLink("Add Course", "CreateCourse", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Assign Subject To Teacher", "AssignSubjectToTeacher", "Admin", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right">
                @Html.ActionLink("LogOut", "LogOut", "User", new { area = "" }, new { @class = "navbar-brand" })
            </ul>
        </div>
    </div>
</div>

@{
    ViewBag.Title = "CourseList";
    Layout = "~/Views/Shared/_LogOutPage.cshtml";

}

<h2>CourseList</h2>

<p>
    @Html.ActionLink(" ", " ")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |*@
                @Html.ActionLink("Delete", "DeleteCourse", new { id = item.CourseId })



            </td>
        </tr>
    }

</table>
<<p>
    <input type="button" class="btn btn-primary btn-sm" '
           value="Add Subject"
           onclick="window.location.href='@Url.Action("CreateSubject","Admin")'" />

    <input type="button" class="btn btn-primary btn-sm" '
           value="Back To List"
           onclick="window.location.href='@Url.Action("GetAllUsers","Admin")'" />

    <input type="button" class="btn btn-primary btn-sm" '
           value="Add Course"
           onclick="window.location.href='@Url.Action("CreateCourse","Admin")'" />

</p>
