@model IEnumerable<UserApplication.Models.User>

@{
    ViewBag.Title = "GetStudentList";
    Layout = "~/Views/Shared/_LogOutPage.cshtml";
}

<h2>GetStudentList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hobbies)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName.RoleName)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hobbies)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.AddressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName.RoleName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |*@
            @Html.ActionLink("Details", "StudentDetails", new { id = item.UserId }) 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.UserId })*@
        </td>
    </tr>
}

</table>
