@model UserApplication.Models.UserViewModel

@{
    ViewBag.Title = "TeacherHomePage1";
    Layout = "~/Views/Shared/_LogOutPage.cshtml";

}

<link href="~/Content/Site.css" rel="stylesheet" />
<div style="display: table; margin: 0 auto; width: 100%; max-width: 500px;">



    <h2>Welcome Teacher</h2>

    <div>
        <h4> </h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hobbies)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hobbies)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            @*<dt>
            @Html.DisplayNameFor(model => model.IsEmailVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmailVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressId)
        </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressLine1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressLine2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Zipcode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Zipcode)
            </dd>

            @*<dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.CountryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StateName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StateName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CityName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CityName)
            </dd>
        </dl>
    </div>

    <p>
        <input type="button" class="btn btn-primary btn-sm" '
               value="Edit Profile"
               onclick="window.location.href='@Url.Action("EditProfile","Teacher", new { id = Model.UserId })'" />

        <input type="button" class="btn btn-primary btn-sm" '
               value="Go To student List"
               onclick="window.location.href='@Url.Action("GetStudentList","Teacher", new { id = Model.CourseId })'" />

        @*@Html.ActionLink("Edit Profile", "EditProfile", new { id = Model.UserId }|
            @Html.ActionLink("Go to Student List", "GetStudentList", new { id = Model.CourseId })*@

    </p>
</div>
